Device-Request-Flow/definition.json
{"name":"f4563cf5-d29e-4e4f-a62e-feab36eba687","id":"/providers/Microsoft.Flow/flows/f4563cf5-d29e-4e4f-a62e-feab36eba687","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Device Request","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"87b333dc-555c-42ca-a326-55345609068d","type":"User","tenantId":"f52f2183-9f67-4ad2-b656-6f754fe196cb"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2024-08-21T01:43:57.8058571Z","connectionKeySavedTimeKey":"2024-08-21T01:43:57.8058571Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$authentication":{"defaultValue":{},"type":"SecureObject"},"$connections":{"defaultValue":{},"type":"Object"}},"triggers":{"When_an_item_is_created":{"recurrence":{"frequency":"Minute","interval":1},"splitOn":"@triggerOutputs()?['body/value']","metadata":{"operationMetadataId":"2ad89c71-70dd-448e-b8ea-6f8a0a44a59c"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://mysait.sharepoint.com/sites/Mega","table":"5e395882-9a08-4cd9-87b9-9038051893df"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetOnNewItems"},"authentication":"@parameters('$authentication')"}}},"actions":{"Send_an_email_notification_(V3)":{"runAfter":{},"metadata":{"operationMetadataId":"4cc04095-2154-4ca4-b655-07b4c765f6ca"},"type":"OpenApiConnection","inputs":{"parameters":{"request/to":"@triggerBody()?['field_2']?['Email']","request/subject":"Details about your request","request/text":"<p class=\"editor-paragraph\"></p><br><p class=\"editor-paragraph\">Device:@{triggerBody()?['Title']}</p><p class=\"editor-paragraph\">Description:@{triggerBody()?['field_1']}</p><p class=\"editor-paragraph\">Priority:@{triggerBody()?['field_4']?['Value']}</p><p class=\"editor-paragraph\">Estimated Cost:@{formatNumber(triggerBody()?['field_5'],'C2')}</p>"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sendmail","connectionName":"shared_sendmail","operationId":"SendEmailV3"},"authentication":"@parameters('$authentication')"}},"Condition-Check_the_limit_price":{"actions":{"Send_email_with_options":{"metadata":{"operationMetadataId":"56843157-ac23-4e38-99fb-04c7f9535280"},"type":"OpenApiConnectionWebhook","inputs":{"parameters":{"optionsEmailSubscription/Message/To":"zarypary@hotmail.com;","optionsEmailSubscription/Message/HeaderText":"Please see details below","optionsEmailSubscription/Message/SelectionText":"Make a selection:","optionsEmailSubscription/Message/Body":"Please see details below and make a selection to approve or reject:\n\nDevice:@{triggerBody()?['Title']}\nDescription:@{triggerBody()?['field_1']}\nPriority:@{triggerBody()?['field_4']?['Value']}\nEstimated Cost:@{formatNumber(triggerBody()?['field_5'],'C2')}\n","optionsEmailSubscription/Message/Subject":"There is a new request waiting for your approval","optionsEmailSubscription/Message/Options":"Approve, Reject"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendMailWithOptions"},"authentication":"@parameters('$authentication')"}},"Condition-_The_manager's_selection":{"actions":{"Update_item":{"metadata":{"operationMetadataId":"a0a599e1-c7d7-4372-8254-529d4b7491a7"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://mysait.sharepoint.com/sites/Mega","table":"5e395882-9a08-4cd9-87b9-9038051893df","id":"@triggerBody()?['ID']","item/field_6":true,"item/field_7":"Approved by Manager"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"authentication":"@parameters('$authentication')"}},"Send_an_email_notification_(V3)-Approval_Response":{"runAfter":{"Update_item":["Succeeded"]},"metadata":{"operationMetadataId":"777dedc1-439b-4bdc-ba32-d998195b8b4e"},"type":"OpenApiConnection","inputs":{"parameters":{"request/to":"@triggerBody()?['field_2']?['Email']","request/subject":"Your request for @{triggerBody()?['Title']} was approved!","request/text":"<p class=\"editor-paragraph\">It is approved!</p>"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sendmail","connectionName":"shared_sendmail","operationId":"SendEmailV3"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Send_email_with_options":["Succeeded"]},"else":{"actions":{"Send_an_email_notification_(V3)-Rejection_Response":{"metadata":{"operationMetadataId":"777dedc1-439b-4bdc-ba32-d998195b8b4e"},"type":"OpenApiConnection","inputs":{"parameters":{"request/to":"@triggerBody()?['field_2']?['Email']","request/subject":"Your request for @{triggerBody()?['Title']} was rejected","request/text":"<p class=\"editor-paragraph\">It is rejected!</p>"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sendmail","connectionName":"shared_sendmail","operationId":"SendEmailV3"},"authentication":"@parameters('$authentication')"}},"Update_item-Reject":{"runAfter":{"Send_an_email_notification_(V3)-Rejection_Response":["Succeeded"]},"metadata":{"operationMetadataId":"a0a599e1-c7d7-4372-8254-529d4b7491a7"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://mysait.sharepoint.com/sites/Mega","table":"5e395882-9a08-4cd9-87b9-9038051893df","id":"@triggerBody()?['ID']","item/field_6":false,"item/field_7":"Rejected by Manager"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"authentication":"@parameters('$authentication')"}}}},"expression":{"and":[{"equals":["@outputs('Send_email_with_options')?['body/SelectedOption']","Approve"]}]},"metadata":{"operationMetadataId":"19b8305c-d8a5-4029-a9c3-c3203660cb5e"},"type":"If"}},"runAfter":{"Send_an_email_notification_(V3)":["Succeeded"]},"else":{"actions":{"Update_item-Automatically":{"metadata":{"operationMetadataId":"eca18cd4-97a2-4d3d-bf8c-fd0e8b5a7a2d"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://mysait.sharepoint.com/sites/Mega","table":"5e395882-9a08-4cd9-87b9-9038051893df","id":"@triggerBody()?['ID']","item/field_6":true,"item/field_7":"Approved Automatically"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"authentication":"@parameters('$authentication')"}}}},"expression":{"and":[{"greaterOrEquals":["@triggerBody()?['field_5']",200]}]},"metadata":{"operationMetadataId":"bbe755ff-f6d2-457b-80f0-f8d8efa3da80"},"type":"If"}},"outputs":{}},"connectionReferences":{"shared_sharepointonline":{"connectionName":"shared-sharepointonl-31fd2ca4-051a-4c77-9576-dbf7039705a9","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified"},"shared_sendmail":{"connectionName":"shared-sendmail-ae12fd21-8e00-41d0-9dae-ed23f0ddd9a3","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_sendmail","tier":"NotSpecified"},"shared_office365":{"connectionName":"shared-office365-2f7c0d22-f603-48dc-9910-f8e3eedf7d01","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_office365","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false,"isManaged":false}}